@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&family=Caveat:wght@700&family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------ Var */
:root {
    /*------ Colors */
    --gray-color: #f4f4f4;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-metro: #d81e05;
    /*------ Typo */
    --normal: 2.1rem;
    /*------ Spaces */
    --space: 10px;
    --space-2: 20px;
    /*------ Box shadow*/
    --box: 0px 0 2px 1px #e6e5e9;
}

/* -------------------------------------------  */
html,
body {
    /* REM RESET 16px*62.5% = 10px */
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    color: var(--black-color);
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
}
h1, h2, h3, h4{
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: var(--normal);
    line-height: 3rem;
}
a{
    color: var(--black-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
a:hover{
    color: #767676;
    text-decoration: none;
}
img{
    font-family: 'Barlow', sans-serif;
}

/* hero */

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 380px;
    height: 25rem;
    text-align: center;
    background-image: url("epicerie-en-ligne/services-en-ligne/QC/Services-Ecom-Header-D.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* outline: 1px solid blue; */
}
.hero--title-container {

}

.hero--title-container p {
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    line-height: 6rem;
}
.hero--title-container h1 {
    margin-top: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
}
.main{
    width: 100%;
    min-width: 320px;
    height: auto;
}

/*------------------- steps ------------------*/
.main-steps-detail{
    /* position: relative; */
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
}
.steps-detail--title{
    max-width: 1200px;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 50px;
    text-align: center;
}
.steps-detail--title h2, .service--title-container h2 {
    margin: 60px 0 60px;
    font-size: 3.6rem;
    line-height: 4rem;
}
.steps-detail--card span{
font-size: 3.6rem;
}
.steps-detail--card span.red {
    background: red;
     border-radius:6rem;
    -moz-border-radius:6rem;
    -webkit-border-radius:6rem;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 6rem;
    text-align: center;
    width: 6rem;
    margin-bottom: 3rem;
  }

.steps-cards-container, .advantages-cards-container, .region-cards-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
}
.steps-detail--card{
    width: 90%;
    max-width: 33.3%;
    min-height: 150px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16); */
}
.steps--icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    background-image: url(clock.svg);
}
.two{
    background-image: url(eye.svg);
}
.three{
    background-image: url(dollar-sign.svg);
}
.steps-card--title{
    margin-bottom: 6px;
    font-weight: bold;
    color: var(--red-metro);
}

/*------------------- advantages ------------------*/
.advantages-cards-container{
    width: 100%;
    max-width: 1280px;
    margin-bottom: 4rem;
}
.advantages-detail--card{
    width: 48%;
    min-height: 150px;
    height: 650px;
    margin: 1%;
    padding: 6rem 3.5rem;
    text-align: center;
    box-shadow: 4px 7px 20px 7px rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content1{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content2{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .content1 div, .content2 div {
border: solid 1px red;
} */
.content-img{
    margin-bottom: 3rem;
}
.advantages-card--title{
    margin-bottom: 6px;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 3.1rem;
}
.advantages-card--subTitle{
    font-size: 2.6rem;
}
.advantages-card--body{
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--red-metro);
    margin-bottom: 1rem;
}
.advantages-card--bodyText{
    margin-bottom: 10%;
}

/*------------------- service ------------------*/
.service{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 380px;
    height: 48rem;
    text-align: center;
    background-color:  var(--gray-color);
}
.service--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 1200px;
    height: auto;
    text-align: center;
    align-self: center;
}
.service--title-container h2{
margin: 0 0 3rem 0;
}
.service--title-container p {
    font-size: 2.8rem;
}

.service-ca{
    width: 320px;
    height: 50px;
    margin-top: 60px;
    border-radius: 10px;
    border:none;
    background-color: var(--black-color);
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.service-ca:hover {
    background-color: #767676;
}
.steps-detail--title .text-service{
    font-size: 3rem;
    font-weight: normal;
}


/*------------------- priorité ------------------*/
hr{
    margin-bottom: 6rem;
}
/*------------------- region ------------------*/

.region{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 380px;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color:  var(--gray-color);
}
.region-cards-container{
    width: 100%;
    max-width: 1280px;
    justify-content: center;
}
.region-detail--card{
    width: 40%;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-right{
    padding-right: 4rem;
    border-right: solid 1px #707070;
}
.card-left{
    padding-left: 4rem;
}

.region-card--title{
    margin-bottom: 3rem;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.8rem;
}
.region-card--subTitle{
    font-size: 2.6rem;
}
.region-card--bodyText{
    margin-bottom: 10%;
}
.region-cards-container .service-ca{
    margin: 0 0 6rem;
}
.container-imgClients{
    width: 100%;
    margin: 0 auto;
}
.img-clients-desk{
    width: 100%;
    text-align: center;
    margin: 60px auto;
    display: flex;
}
.img-clients-mob{
    display: none;
}
@media only screen and (max-width: 1200px)  {
    .hero{
    height: 20rem;
    }
}
@media only screen and (max-width: 1024px)  {
    .hero{
        height: 640px;
        background-image: url("epicerie-en-ligne/services-en-ligne/QC/Services-Ecom-Header-M.jpg");
    }
    .advantages-detail--card{
    width: 100%;
    }
    .steps-detail--card{
        min-width: 280px;
    }
    .region-detail--card{
        width: 98%;
        padding: 0;
    }
    .card-right{
        border-right: none;
        padding: 6rem;
        border-bottom: solid 1px #707070;
    }
    .card-left{
        padding: 6rem;
    }
    .img-clients-desk{
        display: none;
    }
    .img-clients-mob{
        width: 70%;
        display: flex;
    }
}
@media only screen and (max-width: 768px)  {
    .hero--title-container {

    }
    .advantages-detail--card{
        padding: 2rem;
        height: 75rem;
        margin: 3rem 1rem;
    }
    .content1{
        height: 40%;
        justify-content: center;
    }
    .content2{
        height: 60%;
        justify-content: space-around;
    }
    .advantages-card--bodyText{
        margin: 0;
    }
    .img-clients-mob{
        width: 80%;
    }
}
@media only screen and (max-width: 768px)  {
    .img-clients-mob{
        width: 100%;
    }
    .hero--title-container {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        text-align: center;
        align-self: center;
    }
}
